button {
    border: none;
    border-radius: 8px;
    padding: 8px 15px;
    margin: 20px;
    transition: filter 0.3s;
}

button:hover,
button:focus {
    filter: brightness(50%)
}

.green {
    background: rgb(74, 231, 134)
}

.red {
    background: rgb(248, 154, 185);
}

.blue {
    background: lightskyblue;
}